<div class="medios-de-pago ">
    <h2>Medios de pago &#64;bolsos_jeze</h2>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col">
        <img class="logo"src="../../../assets/multimedia/logobancolombia.jpeg" alt="">
        <h6>
          Bancolombia Cuenta de ahorros <br>
         # 14231955152 <br>
         Deisy Esquivia <br>
         CC:1068659244 <br>
       <hr> 
        <img class="qr"src="../../../assets/multimedia/codigoqr bancolombia.jpeg" alt="">
       </h6>
      </div>
      <div class="col">
        <img class="logo"src="../../../assets/multimedia/logo_nequi-.png" alt="">
        <h6>
          Nequi:<br>
         # 3128201532<br>
         Blanca Perez<br>
         <br>
         <hr>
         <img class="qrnequi"src="../../../assets/multimedia/qrnequi.jpeg" alt="">
       </h6>
      </div>
      <div class="col">
        <img class="logobm"src="../../../assets/multimedia/bancolombia  a la mano.jpeg" alt="">
        <h6>
        Bancolombia a la mano<br>
        # 03128201532<br>
        <br>
        <br>
        <hr>
        <img class="qr"src="../../../assets/multimedia/qrbancolombiamano.jpeg" alt="">
      </h6>
      </div>
    </div>
  </div>
  <div>
    <p class="ingresa">¡Ingresa a nuestro botón de WhatsApp que está justo aquí !<br>Envía foto de transferencia y agendamos tú pedido </p>
    
    <a href="https://wa.link/7k82rs"><img class="WhatsApp1" src="../../../assets/multimedia/logo_de_wasaph .png" alt="instagram"></a>
    
  </div>
