.medios-de-pago{
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 300px;
    color: var(--cafeMedio);
}
.qr{
    height: 200px;
    width: 200px;
}
.qrnequi{
    height: 220px;
    width: 220px;
}
.qrBancolombia{
    height: 220px;
    width: 220px;
}
.logo1{
    height: 150px;
    width: 200px; 
 
}
.logo{
    height: 150px;
    width: 200px;
}
.logobm{
    height: 150px;
    width: 240px;
}
.ingresa{
   
   margin-right: 700px;
    color: var(--cafeMedio);
    font-size: 25px;
}
.ingresa2{
   
    margin-right: 980px;
     color: var(--cafeMedio);
     font-size: 25px;
 }
.container{
    margin-bottom: 100px;
}
.WhatsApp1{
    position: relative;
   margin-left: 320px;
   margin-top: 0;
    height: 200px;
    width: 200px;
 
} 
.iconos2{
    height: 90px;
    width: 80px;
} 


@media (max-width:768px){
    .medios-de-pago{
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 200px;
        color: var(--cafeMedio);
    }
    .qr{
        height: 100px;
        width: 100px;
        margin-left: 10px;
    }
    .qrnequi{
        height: 115px;
        width: 115px;
        margin-left: 10px;
    }
    .qrBancolombia{
        height: 105px;
        width: 105px;
        margin-left: 20px;  
    }
    .logo1{
        height: 100px;
        width: 190px; 
     
    }
    .logo{
        height: 100px;
        width: 150px;
    }
    .logobm{
        height: 100px;
        width: 170px;
    }

    h6{
        margin-top: 10px;
        font-size: 14px;
    }
    .ingresa{
       
        margin-right:60px;
        color: var(--cafeMedio);
        font-size: 25px;
    }
    .ingresa2{
       
        margin-right: 980px;
         color: var(--cafeMedio);
         font-size: 25px;
     }
    .container{
        margin-bottom: 100px;
    }
    .WhatsApp1{
        position: relative;
        margin-left: 309px;
        height: 150px;
        width: 150px;
     
    } 
    .iconos2{
        height: 90px;
        width: 80px;
    }  
}

@media (max-width:375px){
    .medios-de-pago{
        margin-top: 160px;
        margin-bottom: 50px;
        margin-left: 100px;
        color: var(--cafeMedio);
    }
    .qr{
        height: 80px;
        width: 80px;
        margin-left: 140px;
    }
    .qrnequi{
        height: 85px;
        width: 85px;
        margin-left: 20px;
    }
    .qrBancolombia{
        height: 75px;
        width: 75px;
        margin-left: 20px;  
    }
    .logo{
        height: 85px;
        width: 85px;
        margin-left: 140px;
    }
    .logo1{
        height: 100px;
        width: 190px; 
        margin-left:80px;
        
    }
    .logobm{
        height: 90px;
        width: 120px;
        margin-left: 115px;
    }

    h6{
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }
    .ingresa{
       
        margin-right:10px;
        color: var(--cafeMedio);
        font-size: 20px;
    }
    .ingresa2{
       
        margin-right: 980px;
         color: var(--cafeMedio);
         font-size: 20px;
     }
    .container{
        margin-bottom: 100px;
    }
    .WhatsApp1{
        position: relative;
        margin-left: 120px;
        height: 150px;
        width: 150px;
    } 
    .iconos2{
        height: 90px;
        width: 80px;
    }  
}