
  <nav class="navbar navbar-expand-lg colorFondo border border-3">
    <div class="container-fluid">
      <a class="navbar-brand colorTexto " href="#">
        <img src="../../../assets/multimedia/logoletras.png" alt="" width="115" height="100" class="d-inline-block align-text-top">
            BOLSOS JEZE
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link active colorTexto2" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2 " routerLink="login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle colorTexto2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              contactanos
            </a>
            <ul class="dropdown-menu bg-secondary-subtle ">
              <li><a class="dropdown-item colorItems" href="https://instagram.com/bolsos_jeze?igshid=YmMyMTA2M2Y=">Instagram</a></li>
              <li><a class="dropdown-item colorItems" href="https://wa.link/7k82rs">WhatsApp</a></li>
              <li><a class="dropdown-item colorItems" href="https://www.facebook.com/bolsos.jeze?mibextid=ZbWKwL">Facebook</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2 " routerLink="shop">Shop</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2" href="https://bolsos-jeze.blogspot.com/2024/03/tips-para-elegir-y-cuidar-tus-bolsos.html">Blog</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2" href="https://heyzine.com/flip-book/f99839ec8f.html">Catalogo</a> 
          </li>
        </ul>
        <form class="d-flex colorTexto2" role="search">
          <input class="form-control me-2 colorSearch" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline colorTexto2" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="pe-3 text-white ">
      @if (loginService.isLogin()) {
      <button type="button" class="btn btn-link colorTexto2" (click)="loginService.logout()">
        Logout
      </button>
      } @else {
      <a routerLink="login" class="nav-link colorTexto2">Login</a>
      }
    </div>
  </nav>