
  <nav class="navbar navbar-expand-lg colorFondo">
    <div class="container-fluid">
      <a class="navbar-brand colorTexto " href="#">
        <!--<img src="../../../assets/multimedia/logo cafe.png" alt="" width="100" height="65" class="d-inline-block align-text-top">-->
            BOLSOS JEZE
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav  navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link active colorTexto2" aria-current="page" routerLink="home">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2 " routerLink="login">Inicia sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2 " routerLink="create">Registrate</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle colorTexto2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              contactanos
            </a>
            <ul class="dropdown-menu bg-secondary-subtle ">
              <li><a class="dropdown-item colorItems" href="https://instagram.com/bolsos_jeze?igshid=YmMyMTA2M2Y=">Instagram</a></li>
              <li><a class="dropdown-item colorItems" href="https://wa.link/7k82rs">WhatsApp</a></li>
              <li><a class="dropdown-item colorItems" href="https://www.facebook.com/bolsos.jeze?mibextid=ZbWKwL">Facebook</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2 " routerLink="shop">Bolsos</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2" href="https://bolsos-jeze.blogspot.com/2024/03/tips-para-elegir-y-cuidar-tus-bolsos.html">Blog</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link colorTexto2" href="https://heyzine.com/flip-book/f99839ec8f.html">Catálogo</a> 
          </li>
            
        </ul> 
      </div>
    </div>
    <div><ul><li class="carritoFlotante">
      <button class="btn">
       <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d=" m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg> Carrito ({{productsInCart.length }}) 
          
       
     </button>   
   </li></ul></div>
  </nav>
 
