.imagen-total{
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 30px;
}
.imagenes{
    height:470px;
    width: 280px;
    margin-left: 390px;
}
/*.contenedor-carrusel{
    display: flex;
    flex-direction: column;
    height: 500px;

}*/
.colorAcordion{
    background-color: var(--fucsiaclaro);
}
.bordeAcordion{
    border-radius: var(--fucsiaclaro);
    
}

.colorLink{
 color: var(--fuciaoscuro);
}
.colorTexto{
    color: var(--fuciaoscuro);  
}
.tamanoCarrusel{
    height: 400px;

}
@media (max-width:375px) {
.textoTitulo{
    font-size: 12px;
}
.texto2{
    font-size: 15px;
}
.titulo1{
 font-size: 15px;
}
.titulo2{
    font-size: 13px;
}
.titulo3{
    font-size: 11px;
}
.texto3{
    font-size: 15.6px;
}
}
@media (max-width:768px){
    .textoTitulo{
        font-size: 12px;
    }
    .texto2{
        font-size: 14.8px;
    }
    .titulo1{
     font-size: 25px;
    }
    .titulo2{
        font-size: 23px;
    }
    .titulo3{
        font-size: 21px;
    }
    .texto3{
        font-size: 15.6px;
    }   
}