
.colorPrincipal{
    margin-top: 95px;
}
.imagenGrande{
    width: 100%;
    height: 100%;
} 
h2{
    color: #a66e45;
}
h4{
    color: #a66e45;
}
.card{
    background-color:var(--grisFondo); 
    padding-bottom: 1px;
  
}
.card-body {
    background-color:#ded0b7 ;
    
}
.card-text{
    font-size: 16px;
}
.imagenes{
    height:470px;
    width: 280px;
    margin-left: 390px;
}
.tamanoImg{
    height: 40px;
}
.textoTitulo{
 font-size: 20px;
}
.textoTitulo2{
    font-size: 16;
}
.titulo2{
    font-size: 25px;
}
.titulo3{
    font-size: 30px;
}
.colorAcordion{
    background-color: #a66e45;
}
.bordeAcordion{
    border-radius: #422518;
    
}
.colorFondo{
    background-color:#ded0b7;
   
}
.botonesNuevos{
    height: 45px;
    width: 254px;
    text-align: center;
    color:#a66e45;
    background-color:#ded0b7;
    font-size: 16px;
}
.botonesNuevos:hover{
 background-color: #a66e45;
 color:rgb(237, 234, 234);
 
}

.buy-now-container{
   position: relative;
   display: inline-block;
   align-items: center;
}

.botonComprarFlecha{
    position: relative;
    display: inline-block;
    background-color:#a66e45 ;
    color:rgb(19, 18, 18);
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.botonComprarFlecha:hover{
    background-color:var(--grisClaro);
    box-shadow: 0 0 10px var(--grisoscuro), 0 0 40px var(--grisoscuro), 0 0 80px var(--grisoscuro);
    color:rgb(26, 25, 25);
}
.arrow-animation{
    position: absolute;
    top: -10px;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    height: 30px;
    width: 70px;
    z-index: 1;
}
@keyframes arrow-move{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0);
    }
}
.arrow-animation{
    animation: arrow-move 2s infinite;
}

.colorLink{
 color: var(--grisclaroro);
}
.colorTexto{
    color: var(--grisclaro);  
}
.tamanoCarrusel{
    height: 400px;

}

@media (max-width:768px){
    .principal{
        height: 300px;
        width:750px ;
        margin-top: 60px;
    }
    .imagenGrande{
        width: 100%;
        height: 100%;
    }
    
    h2{
        color: #a66e45;
    }
    h4{
        color: #a66e45;
    }
    .card{
        background-color:var(--grisFondo); 
        padding-bottom: 1px;
    }
    .card-body {
        background-color:#ded0b7 ;
    }
    .card-text{
        font-size: 16px;
    }
    .texto768{
        font-size: 18px;
    }
    .imagenes{
        height:470px;
        width: 280px;
        margin-left: 390px;
    }
    .tamanoImg{
        height: 40px;
    }
    .textoTitulo{
     font-size: 20px;
    }
    .textoTitulo2{
        font-size: 12;
    }
    .titulo2{
        font-size: 18px;
    }
    .titulo3{
        font-size: 20px;
    }
    .colorAcordion{
        background-color: #a66e45;
    }
    .bordeAcordion{
        border-radius: #422518;
        
    }
    .colorFondo{
        background-color:#ded0b7;
       
    }
    .botonesNuevos{
        height: 25px;
        width: 132px;
        text-align: center;
        color:#a66e45;
        background-color:#ded0b7;
        font-size: 12px;
    }
    .botonesNuevos:hover{
     background-color: #a66e45;
     color:rgb(237, 234, 234); 
    }
    
    .buy-now-container{
       position: relative;
       display: inline-block;
       align-items: center;
    
    }
    
    .botonComprarFlecha{
        position: relative;
        display: inline-block;
        background-color:#a66e45 ;
        color:rgb(19, 18, 18);
        letter-spacing: 2px;
        font-size: 18px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
    }
    .botonComprarFlecha:hover{
        background-color:var(--grisClaro);
        box-shadow: 0 0 10px var(--grisoscuro), 0 0 40px var(--grisoscuro), 0 0 80px var(--grisoscuro);
        color:rgb(26, 25, 25);
    }
    .arrow-animation{
        position: absolute;
        top: -10px;
        left: calc(100% + 10px);
        transform: translateY(-50%);
        height: 30px;
        width: 70px;
        z-index: 1;
    }
    @keyframes arrow-move{
        0%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(-10px);
        }
        100%{
            transform: translateX(0);
        }
    }
    .arrow-animation{
        animation: arrow-move 2s infinite;
    }
    
    .colorLink{
     color: var(--grisclaroro);
    }
    .colorTexto{
        color: var(--grisclaro);  
    }
    .tamanoCarrusel{
        height: 400px;
    
    }
}
 /* @media (min-width:376px){
    .principal{
        height: 200px;
        max-width:375px ;
        margin-top: 80px;
    }    
} */
@media (max-width:375px ) {
    .principal{
        height: 200px;
        width:375px ;
        margin-top: 80px;
    }
    .imagenGrande{
        width: 100%;
        height: 100%;
    }.textoTitulo{
    font-size: 12px;
}
.texto2{
    font-size: 15px;
}
.titulo1{
 font-size: 15px;
}
.titulo2{
    font-size: 13px;
}
.titulo3{
    font-size: 11px;
}
.texto3{
    font-size: 15.6px;
}
.texto768{
    font-size: 15.6px;
}
.texto375{
    font-size: 16.5px;
}
.buy-now-button{
    position: relative;
    display: inline-block;
    padding: 3px 5px;
    color:white;
    letter-spacing: 4px;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.buy-now-button:hover{
    background-color:var(--fuciaoscuro);
    box-shadow: 0 0 10px var(--fuciaoscuro), 0 0 40px var(--fuciaoscuro), 0 0 80px var(--fuciaoscuro);
    color:white;
}
.arrow-animation{
    position: absolute;
    top: 0;
    left: calc(100% + 10px);
    transform: translateY(-50%);
    height: 10px;
    width: 30px;
    color: var(--fucsiaclaro);
    z-index: 1;
}
}