.color1 {color: #93a7da;}
.color2 {color: #dca3c5;}
.color3 {color: #e5c6b9;}
.color4 {color: #eaeacc;}
.color5 {color: #ebf0f0;}

.imagenes{
    height:470px;
    width: 280px;
    margin-left: 390px;
}