
    <!-- inicio imagen grande -->
    <section>
      <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
        <img class="imagen-total " src="../../../assets/multimedia/imagengrande.jpeg" alt=""> 
         <h2 class="card-title colorTexto">Un bolso para cada día</h2>
          <h4 class="card-text ">Lleva contigo el estilo perfecto</h4>
          <h5>10%  20%  30% de descuento</h5>
          <div class="card-footer text-body-secondary">
        </div>
        </div>

      </div>
    </section>
    <div class="card"> 
    <div class="container">
    <div class="row g-5 ">
    <div class="col">
     
      <img src="../../../assets/multimedia/pagos.jpeg" class="card-img-top" alt="...">
      <div class="card-body border border-danger">
        <h6 class="card-title ">MEDIOS DE PAGOS</h6>
        <p class="card-text">Te brindamos asesoría y los mejores medios pago para que tu experiencia de compra sea cómoda y segura.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item border border-danger">Inmediato</li>
        <li class="list-group-item border border-danger">Plan Separe</li>
        <li class="list-group-item border border-danger">Pagos Contra Entrega</li>
      </ul>
      <div class="card-body border border-danger">
        <a href="http://localhost:4200/login" class="card-link colorLink">Comprar</a>
        <a href="#" class="card-link colorLink">Catálogo </a>
      </div>
    </div>
    <div class="col ">
      <div class="card border border-danger">
        <img src="../../../assets/multimedia/imagen10.jpeg" class="card-img-top" alt="...">
        <div class="card-body border border-danger">
          <p class="card-text ">Son la elección perfecta para aquellas personas que necesitan llevar consigo muchos objetos a lo largo del día.</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card border border-danger">
        <img src="../../../assets/multimedia/imagen6.jpeg" class="card-img-top" alt="...">
        <div class="card-body border border-danger">
          <p class="card-text">Tamaño mediano es la opción ideal para aquellos que buscan un equilibrio entre funcionalidad y estilo.</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card border border-danger">
        <img src="../../../assets/multimedia/imagen4.jpeg" class="card-img-top" alt="...">
        <div class="card-body border border-danger">
          <p class="card-text">Son versátiles y perfectos para el uso diario, ya sea para ir al trabajo, salir de compras o disfrutar de una salida casual.</p>
        </div>
      </div>
    </div>
  </div>



   <!--<final de las primeras tarjetas-->
<!--contenedor carrusel-->
<div class="container mt-4 ">
  <div class="row g-5">
    <div class="col ">
      <div class="carrusel border border-danger ">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <img src="../../../assets/multimedia/foto1.jpeg" class="d-block w-100 tamanoCarrusel" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/multimedia/foto3.jpeg" class="d-block w-100 tamanoCarrusel" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/multimedia/foto7.jpeg" class="d-block w-100 tamanoCarrusel" alt="...">
            </div>
          <div class="carousel-item">
            <img src="../../../assets/multimedia/foto5.jpeg" class="d-block w-100 tamanoCarrusel" alt="...">
        </div>
      </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
   <div class="col "><!--inicio las ultimas 3 tarjetas-->
      <div class="card border border-danger">
        <img src="../../../assets/multimedia/imagen1.jpeg" class="card-img-top" alt="...">
        <div class="card-body border border-danger">
          <p class="card-text">Bolsos amplios ideal  para llevar todo lo que necesitas, desde tu computadora portatil hasta artículos personales.</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card border border-danger">
        <img src="../../../assets/multimedia/imagen11.jpeg" class="card-img-top" alt="...">
        <div class="card-body border border-danger">
          <p class="card-text">Bolsos manos libres para las que buscan comodidad y practicidad sin dejar la elegancia y estilo.</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card border border-danger">
        <img src="../../../assets/multimedia/imagen5.jpeg" class="card-img-top" alt="...">
        <div class="card-body border border-danger">
          <p class="card-text">Estilos para todos los gustos ideales para ocasiones en las que se busca un toque más formal o sofisticado.</p>
        </div>
      </div>
    </div>
  </div>
  