
<!--<main class="container d-flex flex-wrap justify-content-center gap-5">
  <p *ngFor="let item of a">

    {{ item.modelo }} - {{ item.marca }} - {{ item.precio | currency }}
  </p>
  <div *ngFor="let item of a">
    <div class="card">
        <img src="{{item.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.marca}}</h5>
          <p class="card-text">{{item.precio}}</p>
          <a href="#" class="btn btn-primary">Gcomprar</a>
        </div>
      </div>
  </div>
</main>-->

  <!-- <div class="card">
    <img src="http://localhost:3000/imagenes/" {{ item.imagen }}
    class="card-img-top"
    alt="imagen de una {{ item.marca }} "
  />
    <div class="card-body">
      <h5 class="card-title">{{ item.marca }}</h5>
      <p class="card-text">Color: {{item.color}} </p>
      <p class="card-text">Material: {{item.material}} </p>
      <h3 class="card-text">Precio: {{item.precio}} </h3>

      <a href="#" class="btn btn-primary">Add to card</a>
    </div>
  </div> -->
  
  <div class="container text-center ">
    <div class="row ">
     <div class="col-md-4 "*ngFor="let item of productos">
        <div class="card border border-danger">
           
            <img
              src="http://localhost:3000/imagenes/{{ item.imagen }}"
              class="card-img-top "
              alt="imagen {{ item.modelo }} {{ item.color }}"
            />
            <div class="card-body gap-5 border border-danger ">
              <h5 class="card-title">{{ item.marca }}</h5>
               <h4 class="card-text"> {{item.modelo}} </h4>
                <p class="card-text">Color: {{item.color}} </p>
                <h3 class="card-text">{{item.material}} </h3>
                <h5 class="card-text">{{item.precio | currency : "COP" : "$"}} </h5>
                <button class="btn btn-primary" (click)="addProduct(item)">
                  Add to cart
                </button>
            </div>
          </div>
        </div> 
     </div>
  </div>



   
 
      
