
  <div class="container text-center ">
    <div class="row ">
     <div class="col-md-4 "*ngFor="let item of productos">
        <div class="card border border-danger">
           
            <img
              src="http://3.135.232.36:3000/imagenes/{{ item.imagen }}"
              class="card-img-top "
              alt="imagen {{ item.modelo }} {{ item.color }}"
            />
            <div class="card-body gap-5 border border-danger ">
              <h5 class="card-title">{{ item.marca }}</h5>
               <h4 class="card-text"> {{item.modelo}} </h4>
                <p class="card-text">Color: {{item.color}} </p>
                <h3 class="card-text">{{item.material}} </h3>
                <h5 class="card-text2">{{item.precio | currency : "COP" : "$"}} </h5>
                <button class="btn-cart" (click)="addProduct(item)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="35px" fill="#FFFFFF"><path d=" m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg> Comprar
                </button>
            </div>
          </div>
        </div> 
      </div>
  </div>



   
 
      
