<div class="carrito">
    <h2>Carrito de compras</h2>
    <div class="productos-seleccionados">
      <div *ngFor="let item of productosSeleccionados; let i = index">
        <div class="card">
          <img
            src="http://localhost:3000/imagenes/{{ item.imagen }}"
            class="card-img-top tamanoImagen"
            alt="imagen de una {{ item.modelo }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.marca }}</h5>
            <p class="card-text">Color: {{ item.color }}</p>
            <h4 class="card-text">
              Precio: {{ item.precio | currency : "COP" : "$" }}
            </h4>
            <button (click)="eliminarProductoDelCarrito(i)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="total">
    <h3>Total: {{ totalCompra | currency : "COP" : "$" }}</h3>
  </div>
  
  <button (click)="vaciarCarrito()">Vaciar carrito</button>
  <button (click)="comprar()">Comprar</button>
