<div class="carrito">
    <h1>Carrito de compras
      <img class="carritolleno" src="../../../assets/multimedia/carritolleno.png" alt="">
    <!--<svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#c2167c"><path d=" m480-560-56-56 63-64H320v-80h167l-64-64 57-56 160 160-160 160ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z"/></svg>-->
  </h1>        
</div>
<!--contenedor del carrito-->
<div class="container medida">
<div class="row gap-5 ">
  <div class="col " *ngFor="let item of productosSeleccionados; let i = index">
    <img
    src="http://localhost:3000/imagenes/{{ item.imagen }}"
    class="card-img-top tamanoImagen borde"
    alt="imagen de una {{ item.modelo }}"
  />
  <h5 class="card-title card-body">{{ item.marca }}</h5>
  <p class="card-text card-body">Color: {{ item.color }}</p>
  <h4 class="card-text card-precio">
    Precio: {{ item.precio | currency : "COP" : "$" }}
  </h4>
  <button (click)="eliminarProductoDelCarrito(i)" class= "botoneliminar">Eliminar</button>
  </div>
  <div class="col-md-auto">    
  </div>
  <div class="col col-lg-2">
  </div>
</div>
</div>
<div class="total">
  <h3>Total: {{ totalCompra | currency : "COP" : "$" }}</h3>
</div>
<div class="botones">  
  <button (click)="vaciarCarrito()"class= "botonvaciar">Vaciar carrito</button>
  <button (click)="agregarCarrito()"class= "botonagregar">Agregar al Carrito</button>
  <button (click)="comprar()"class= "botoncomprar">Comprar</button>
</div>