
.ancho{
   
    background-color: var(--fucsiaclaro);
   padding-top: 50px;
    width: 50%;
   margin-top: 50px;
   padding-bottom: 90px;
  
   
   
    
}
.tamanoImagen{
    width: 480px;
    height: 270px;
    align-items: center;
    display: flex;
   padding-left: 180px;
}

form{
display: flex;
flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    
}
a:hover{
   background-color:var( --fuciaoscuro); 
   color:white;
}
h1{
    text-align: center;
}
