<!--<form [formGroup]="credentialsForm" (ngSubmit)="handleSubmit()">
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="password" placeholder="Password" formControlName="password" />
    <input type="submit" value="Log In" />
  </form>-->

  <div >

    <div class="container  ancho">
      <h1>Inicia sesión para realizar tus compras </h1>
      <div class="row ">
        <div class="col-6 border border-5">
          <!--<div class="position-absolute top-50 start-0 ">-->
            <img class="tamanoImagen "src = "../../../assets/multimedia/imagenlogin..png " alt="">
         <!-- </div>-->
        </div>
        <div class="col-6 border border-5">
          <form
          [formGroup]="credentialsForm"
          (ngSubmit)="handleSubmit()"
         
        >
          <div class="mb-3 ">
            <h2>Acceso</h2>
            <label for="inputEmail" class="form-label">Username</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              aria-describedby="emailHelp"
              formControlName="username"
              placeholder="Enter your Username"
            />
          </div>
          <div class="mb-3 ">
            <label for="inputPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              formControlName="password"
              placeholder="Enter your Password"
            />
          </div>
          <button type="submit" class="btn bg-secondary-subtle col-12">
            Log In
          </button>
          <div class="links text-center ">
            <a href="#"> You don't have an account at the Windsor?</a>
          </div>
        </form>
        </div>
      </div>
    </div>
  
 
   
  