     <div class="body">
     <div class="container  ancho">
      <h1>Inicia sesión para realizar tus compras </h1>
      <div class="row ">
        <div class="col border border-5">
        <div class="flex-container">
          <div class="imagen">
          <img src = "../../../assets/multimedia/login.png" alt="">
          </div>
        </div>
      </div>
        <div class="col border border-5">
          <form
          [formGroup]="credentialsForm"
          (ngSubmit)="handleSubmit()"
         
        >
          <div class="mb-3 ">
            <h2>Acceso</h2>
            <label for="inputEmail" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              aria-describedby="emailHelp"
              formControlName="username"
              placeholder="Ingrese su correo.... "
            />
          </div>
          <div class="mb-3 ">
            <label for="inputPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              formControlName="password"
              placeholder="Ingrese su contraseña..."
            />
          </div>
          <button type="submit" class=" colorBoton col-12">
            Iniciar Sesión
          </button>
          <div class="links text-center ">
            <a href="http://3.135.232.36/create">Crear Sesión</a>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
 
   
  