<!--<form [formGroup]="credentialsForm" (ngSubmit)="handleSubmit()">
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="password" placeholder="Password" formControlName="password" />
    <input type="submit" value="Log In" />
  </form>-->

  <div class="d-lg-flex justify-content-center">
    <form
      [formGroup]="credentialsForm"
      (ngSubmit)="handleSubmit()"
      class="py-5 col-lg-6"
    >
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Username</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
          formControlName="username"
        />
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
        />
      </div>
      <button type="submit" class="btn bg-success-subtle col-12">
        Log In
      </button>
    </form>
  </div>
  
