
<app-navigation></app-navigation>
<router-outlet></router-outlet>
   
    <div class="card colorFooter mt-5">
  <div class="card-header text-center">
    &COPY; 2024 BOLSOS JEZE
  </div>
  <div class="card-body "> 
  <img class="logoFooter " src="../assets/multimedia/logo cafe.png" alt="">   
</div> 

     <ul>
      <li class="texto">Bolsos Ejecutivos</li>
      <li class="texto">Manos Libres</li>
      <li class="texto">Multipochet</li>
      <li class="texto">Morrales</li>
    </ul>
    <footer class="titulo ">
      <div class="iconos position-absolute start-50 translate-middle">
        <p>Tienda virtual</p>
        <p> <em>-Siguenos para asesorarte </em></p>
        <a href="https://instagram.com/bolsos_jeze?igshid=YmMyMTA2M2Y="><img class="iconos2" src="../assets/multimedia/instagram.png" alt="instagram"></a>
        <a href="https://www.facebook.com/bolsos.jeze?mibextid=ZbWKwL"><img class="iconos2"src="../assets/multimedia/faceboock.png" alt="instagram"></a>
        <a href="https://wa.link/7k82rs"><img class="iconos2" src="../assets/multimedia/wasaph.png" alt="instagram"></a>
       </div>
      </footer>
   
      
      
  


    
