
<app-navigation></app-navigation>
<router-outlet></router-outlet>
   
<div class="card colorFooter mt-5">
  <div class="card-header text-center">
    &COPY; 2024 BOLSOS JEZE
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 blockquote-footer text-center">
          <h1 class="texto">Bolsos Ejecutivos</h1>
          <h5 class="texto">Manos libres</h5>
          <h5 class="texto">Multipochet</h5>
          <h5 class="texto">Morrales</h5>
      </div>
      <div class="col-md-4 text-center">
        <img class="logoFooter" src="../assets/multimedia/logo cafe.png" alt="">
        <div>
          <a href="https://instagram.com/bolsos_jeze?igshid=YmMyMTA2M2Y="><img class="iconos2" src="../assets/multimedia/instagram.png" alt="instagram"></a>
          <a href="https://www.facebook.com/bolsos.jeze?mibextid=ZbWKwL"><img class="iconos2" src="../assets/multimedia/faceboock.png" alt="instagram"></a>
          <a href="https://wa.link/7k82rs"><img class="iconos2" src="../assets/multimedia/wasaph.png" alt="instagram"></a>
        </div>
      </div>
      <div class="col-md-4 blockquote-footer text-center" >
        <h5>Un Bolso para cada día</h5>
        <h5>Tienda virtual</h5>
        <h6>Siguenos para asesorarte</h6>
      </div>
    </div>
  </div>
</div>
   
      
      
  


    
