
<app-navigation></app-navigation>
<router-outlet></router-outlet>

    <div class="card colorFooter mt-5">
  <div class="card-header text-center">
    &COPY; 2024 BOLSOS JEZE
  </div>
  <div class="card-body ">  
  <img class="logoFooter position-absolute top-50 start-50 translate-middle" src="../assets/multimedia/logoletrasF.png" alt=""> 
   
    <blockquote class="blockquote mb-0 p-5">
      
     <h5>Un Bolso para cada día</h5>
     <ul class="alineacionItens">
      <li class="texto">Bolsos Ejecutivos</li>
      <li class="texto">Manos Libres</li>
      <li class="texto">Multipochet</li>
      <li class="texto">Morrales</li>
    </ul>
     <footer class="blockquote-footer text-center">Tienda virtual <cite title="Source Title">Siguenos para asesorarte</cite></footer>
     <div class="iconos position-absolute start-50 translate-middle">
     <a href="https://instagram.com/bolsos_jeze?igshid=YmMyMTA2M2Y="><img class="iconos2" src="../assets/multimedia/instagram.png" alt="instagram"></a>
     <a href="https://www.facebook.com/bolsos.jeze?mibextid=ZbWKwL"><img class="iconos2"src="../assets/multimedia/faceboock.png" alt="instagram"></a>
     <a href="https://wa.link/7k82rs"><img class="iconos2" src="../assets/multimedia/wasaph.png" alt="instagram"></a>
    </div>
    </blockquote>
    
  </div>
 

    
