
<footer class="footer-container ">
    <div class="card text-center bg-warning-subtle">
        <div class="card-header text-success">
          &COPY; 2024 BOLSOS JEZE
        </div>
        <div class="card-body ">
          <h5 class="card-title text-success">Un Bolso para cada día </h5>
          <p class="card-text text-success">Gracias por visitarnos</p>
          <a href="https://instagram.com/bolsos_jeze?igshid=YmMyMTA2M2Y=" class="btn btn-light">siguenos</a>
        </div>
        <div class="card-footer text-body-secondary">
        </div>
      </div>
</footer>
