<!--<footer class="footer-container ">
    <div class="card text-center colorFooter ">
        <div class="card-header colorTextoF">
          &COPY; 2024 BOLSOS JEZE
        </div>
        <div class="card-body ">
          <h5 class="card-title ">Un Bolso para cada día </h5>
          <p class="card-text ">Gracias por visitarnos</p>
          <a href="https://instagram.com/bolsos_jeze?igshid=YmMyMTA2M2Y=" class="btn btn-light">siguenos</a>
        </div>
        <div class="card-footer ">
        </div>
      </div>
</footer>-->
